{% extends 'base.html.twig' %}

{% block title %}Kindled | Credentials{% endblock %}

{% block body %}

<div class="column is-6 is-offset-3">
	<div class="notification is-white">
		<form action="{{ path('auth.credentials.store') }}?redirect={{redirect }}" method="post">
			<div class="field">
				<label class="label">Authorized address</label>
				<div class="control">
					<input name="from" class="input" type="email" placeholder="your@email.com">
				</div>
			</div>
			<div class="field">
				<label class="label">Destination address</label>
				<div class="control">
					<input name="to" class="input" type="email" placeholder="@kindle.com">
				</div>
			</div>
			<div class="control">
				<button class="button is-primary is-centered">Send</button>
			</div>
		</form>
	</div>
	<div class="section has-text-centered">
		Information will not be stored by our service and you can log out whenever you want without leaving traces
	</div>
</div>

{% endblock %}