{% extends 'base.html.twig' %}

{% block title %}Kindled | Pocket{% endblock %}

{% block body %}

<div class="container">
	<div class="notification is-white has-text-dark">
		<div class="content">
			<h3>How it works</h3>
			<p><span class="is-italic">Kindled</span> lets you read your favourite articles on your Kindle.</p>
			<p>It converts a <a href="https://getpocket.com/">Pocket</a> article into a .mobi file and sends it to your Amazon account, you will need:</p>
			<ol>
				<li>Your @kindle.com address (can be found on the <a href="https://www.amazon.com/myk">/myk</a> section of the Amazon website)</li>
				<li>An email previously authorized to send emails to your @kindle.com address</li>
			</ol>
			<p>It's pretty easy just go to the <a href="{{ path('pocket.list') }}">pocket section</a> and follow the instructions.</p>
			<h3>Whats next?</h3>
			<ol>
				<li>Get more than 60 Pocket articles</li>
				<li>Possibility to download the .mobi file</li>
				<li>New section to convert any given url</li>
				<li>File .mobi preview</li>
				<li><a href="https://feedly.com/">Feedly</a> integration</li>
				<li>Any tips?</li>
			</ol>
			<h3>Contacts</h3>
			<p><a href="mailto:info@kindled.mobi?Subject=Hello%20Kindled" target="_top">Send mail</a></p>
		</div>
	</div>
</div>

{% endblock %}