{% extends 'base.html.twig' %}

{% block title %}Kindled | Url{% endblock %}

{% block body %}

<div class="column is-6 is-offset-3">
	<div class="notification is-white">
		<form action="{{ path('url.store') }}" method="post">
			<div class="field">
				<label class="label">Website url</label>
				<div class="control">
					<input name="url" class="input" type="url" placeholder="http://...">
				</div>
			</div>
			<div class="control">
				<button name="type" value="send" class="button is-primary is-centered is-loadable">send</button>
				<button name="type" value="download" class="button is-primary is-centered is-loadable">download</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}